<!DOCTYPE html>
<html>
<head>
    <title>Crud Manager - Página Inicial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-pzjw8j+O0Zwb+6dIcy0Vu5sFET3mEJ7jB34uT2LQ/2piWqy4+KuFrb3mk7+uy/g3"
        crossorigin="anonymous">
    <style>
        .jumbotron {
            background-image: url('https://via.placeholder.com/1200x400');
            background-size: cover;
            height: 400px;
        }
        .jumbotron h1 {
            color: #fff;
            text-align: center;
            padding-top: 150px;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <h1>Crud Manager</h1>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zyuz2k5+Z0Gq2PixpwE8Wivc2IrjMz9L3bc4Yon"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-wQ5dLBimEXdkfz6ccW0P+XPlh8gZbyyKxkMKz0CZ2ogx5GwvzlGGg8BIwOoP5hIR"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-pzjw8j+O0Zwb+6dIcy0Vu5sFET3mEJ7jB34uT2LQ/2piWqy4+KuFrb3mk7+uy/g3"
        crossorigin="anonymous"></script>
</body>
</html>
