<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="cabecalho :: head"></div>
    <title>Crud Manager - Currículos</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Crud Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/projetos}">Projetos</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" th:href="@{/curriculos}">Currículos</a>

                </li>
            </ul>
        </div>
    </nav>

    <div class="container my-2">
        <h1>Banco de Programadores(a)</h1>
        <div>
            <a th:href="@{/curriculos/form}" class="btn btn-primary btn-sm mb-3 float-right">Adicionar Curriculo</a>
        </div>
        <table class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Email</th>
                    <th>Gênero</th>
                    <th>Linguagem</th>
                    <th>Remoto</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${curriculos}">
                    <td th:text="${c.name}"></td>
                    <td th:text="${c.idade}"</td>
                    <td th:text="${c.email}"></td>
                    <td th:text="${c.gender}"></td>
                    <td th:text="${c.linguagem}"></td>
                    <td th:text="${c.remoto} ? 'Sim' : 'Não'"></td>
                    <td>
                        <div class="d-flex flex-column">
                            <a th:href="@{/curriculos/update/{id}(id=${c.id})}" class="btn btn-primary mb-2">Alterar</a>
                            <a th:href="@{/curriculos/delete/{id}(id=${c.id})}" class="btn btn-danger">Excluir</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
