<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="cabecalho :: head"></div>

   
<title>Crud Manager - Projeto</title>
</head>

<body>
	   
	<div class="container my-2">
		       
		<h2>Projetos</h2>
		       
		<form action="#" th:action="@{/projetos/new}" th:object="${projeto}"
			method="POST">
			           <input type="hidden" th:field="*{id}" id="id">    
			                   <input type="text" th:field="*{name}"
				placeholder="Nome" class="form-control mb-4 col-4">        
			              <select th:field="*{complexidade}"
				class="form-control mb-4 col-4">
				<option value="facil">Fácil</option>
				<option value="medio">Médio</option>
				<option value="avancado">Avançado</option>
			</select>                      <input type="text" th:field="*{descricao}"
				placeholder="Descricao" class="form-control mb-4 col-4">    
				
				<input type="text" th:field="*{curriculos}" placeholder="ID's dos curriculos" class="form-control mb-4 col-4">
			                   
			<button type="submit" class="btn btn-info col-2">Salvar</button>
			       
		</form>
		       
		<hr>
		       <a th:href="@{/projetos}">Projeto</a>    
	</div>
</body>
</html>
